<h1>New Blog</h1>
<%=render 'form',data:{url:blogs_path,blog:@blog}%>

<hr>
<h1>My Blogs</h1>
<%@blogs.each do |blog|%>
<div class="card">
	<div class="card-header">
		<%="<h1>#{blog.title}</h1> <small> by #{blog.author.email}</small>".html_safe%>
	</div>
	<div class="card-body">
		<%=blog.description&.html_safe%>
	</div>
	<div class="card-footer">
		<%="#{time_ago_in_words(blog.created_at)} ago"%>
	</div>
</div>
<br><br><br>
<%end%>
<%=paginate @blogs %>